@page "/"

<h1>This is education system in Blazor.</h1>

<AuthorizeView>
    <Authorized>
        <h2>Hello, @context.User.Identity.Name!</h2>
    </Authorized>
    <NotAuthorized>
        <h1>Authentication Failure!</h1>
        <p>You're not signed in.</p>
        <p></p>>
    </NotAuthorized>
</AuthorizeView>